@page "/view-past-stays-hs"
@using System.Security.Claims
@using DTOs.HouseListing
@using HousePalClient.Components.Layout
@using HousePalClient.ServiceContracts
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Mvc.Rendering
@layout MainLayout
@inject NavigationManager Navigation
@rendermode InteractiveServer
@inject IHouseListingService HouseListingService
@inject IHouseProfileService HouseProfileService
@inject IHouseReviewService HouseReviewService
@inject AuthenticationStateProvider AuthenticationStateProvider
<CascadingAuthenticationState>
    <AuthorizeView Roles="HouseSitter">
        <Authorized>
            <div class="page-container">
                <div class="signup-page-container">
                    <h1>My Past Stays</h1>
                    <div class="house-profile-list">
                        @if (_listingsWaitingForReview == null || !_listingsWaitingForReview.Any())
                        {
                            <p>No listings waiting for review found.</p>
                        }
                        else
                        {
                            @foreach (var listing in _listingsWaitingForReview)
                            {
                                <div class="house-profile-item">
                                    @if (listing.Profile!.Pictures != null && listing.Profile.Pictures.Any())
                                    {
                                        <img src="https://localhost:7134/Filesave/@listing.Profile.Pictures[0].Split('.')[0]/@listing.Profile.Pictures[0].Split('.')[1]" alt="House Picture" class="house-profile-img"/>
                                    }
                                    <p>@listing.Profile.Title</p>
                                    <p>@listing.StartDate.ToString("dd/M/yyyy") - @listing.EndDate.ToString("dd/M/yyyy")</p>
                                    <p>@listing.Profile.Region</p>
                                    <p>@listing.Profile.City</p>
                                    <button type="button" class="btn btn-primary" @onclick="() => NavigateToDetails(listing.Id)">More Details</button>
                                </div>
                            }
                        }

                        <hr class="section-divider"/>
            
                        @if (_houseListings == null || !_houseListings.Any())
                        {
                            <p>No listings found.</p>
                        }
                        else
                        {
                            @foreach (var listing in _houseListings)
                            {
                                <div class="house-profile-item">
                                    @if (listing.Profile!.Pictures != null && listing.Profile.Pictures.Any())
                                    {
                                        <img src="https://localhost:7134/Filesave/@listing.Profile.Pictures[0].Split('.')[0]/@listing.Profile.Pictures[0].Split('.')[1]" alt="House Picture" class="house-profile-img"/>
                                    }
                                    <p>@listing.Profile.Title</p>
                                    <p>@listing.StartDate.ToString("dd/M/yyyy") - @listing.EndDate.ToString("dd/M/yyyy")</p>
                                    <p>@listing.Profile.Region</p>
                                    <p>@listing.Profile.City</p>
                                    <button type="button" class="btn btn-primary" @onclick="() => NavigateToDetails(listing.Id)">More Details</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            </Authorized>
        </AuthorizeView>
    </CascadingAuthenticationState>
            
<style>

    @@font-face {
        font-family: 'LogoFont';
        src: url('http://localhost:[puerto]/fonts/logo-font.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @@font-face {
        font-family: 'FuturaFont';
        src: url('fonts/futura.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    h1 {
        text-align: center;
        color: #ff7e5f;
        margin-bottom: 1em;
        font-family: 'LogoFont', sans-serif;
    }

    .btn {
        font-size: 0.85em;
        padding: 0.375em 0.75em;
        font-family: 'FuturaFont', sans-serif;
    }

    .house-profile-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5em;
        justify-content: center;
    }

    .house-profile-item {
        width: 15em;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 0 0 1em 0;
        font-family: 'FuturaFont', sans-serif;
    }

    .house-profile-item div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 95%;
    }

    .house-profile-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
        display: block;
    }

    p {
        font-family: 'FuturaFont', sans-serif;
        color: #3d3d3d;
        margin: 1em;
    }

    .plus {
        cursor: pointer;
    }

    .modal-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        overflow: hidden;
    }

    .modal-content {
        background-color: #fff;
        padding: 2em;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        max-width: 400px;
        width: 100%;
    }

    .section-divider {
        margin: 2em 0;
        border: 0;
        height: 1px;
        background-color: #ddd;
    }

    .not-authorized-container {
        text-align: center;
        margin-top: 5em;
        padding: 2em;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .not-authorized-container h2 {
        color: #ff7e5f;
        font-family: 'LogoFont', sans-serif;
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    .not-authorized-container p {
        font-family: 'FuturaFont', sans-serif;
        color: #333;
        font-size: 1.2em;
        margin-bottom: 1.5em;
    }

    .not-authorized-container .btn {
        font-size: 1em;
        padding: 0.75em 1.5em;
        font-family: 'FuturaFont', sans-serif;
        background-color: #ff7e5f;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

    }

    .not-authorized-container .btn:hover {
        background-color: #feb47b;
    }
</style>

@code {
    [Inject] private PreloadService PreloadService { get; set; } = default!;
    [Inject] private IApplicationService ApplicationService { get; set; } = default!;

    private int _sitterId;
    private List<HouseListingDto>? _houseListings;
    private List<HouseListingDto>? _listingsWaitingForReview;

    protected override async Task OnInitializedAsync()
    {
        PreloadService.Show();
        _houseListings = new List<HouseListingDto>();
        var authState = await AuthenticationStateProvider
            .GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is null || !user.Identity.IsAuthenticated)
        {
            Console.WriteLine("Not authenticated");
            return;
        }

        IEnumerable<Claim> claims = user.Claims;
        string userIdAsString = claims.Single(c => c.Type == "Id").Value;
        _sitterId = int.Parse(userIdAsString);
        await LoadAllHouseListings();
        await InvokeAsync(StateHasChanged);
        PreloadService.Hide();
    }
    private async Task LoadAllHouseListings()
    {
        var today = DateOnly.FromDateTime(DateTime.Today);

        var confirmedApplications = await Task.Run(() =>
            ApplicationService.GetApplicationsByUserStatus(_sitterId, "Confirmed", false, false).ToList());

        var allListings = await Task.Run(() =>
            HouseListingService.GetAllByOwnerStatus(_sitterId, "Closed", false, true).ToList());

        _houseListings = allListings
            .Where(listing => listing.EndDate < today &&
                              confirmedApplications.Any(app => app.ListingId == listing.Id))
            .ToList();

        _listingsWaitingForReview = HouseListingService.GetWaitingForReviewSitter(_sitterId, true).ToList();
        _houseListings = _houseListings.Except(_listingsWaitingForReview).ToList();
    }

    private void NavigateToDetails(int listingId)
    {
        Navigation.NavigateTo($"/view-listing/{listingId}");
    }

}