@page "/browse-listings"
@using DTOs.HouseListing
@using DTOs.HouseReview
@using HousePalClient.Components.Layout
@using HousePalClient.ServiceContracts
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Mvc.Rendering
@layout MainLayout
@inject NavigationManager Navigation
@rendermode InteractiveServer
@inject IHouseListingService HouseListingService
@inject IHouseProfileService HouseProfileService

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<CascadingAuthenticationState>
    <AuthorizeView Roles="HouseSitter">
        <Authorized>
            <div class="page-container">

                <div class="filter-title">
                    <h2>Find a House to Sit:</h2>
                    <button type="button" class="orange-button"
                            @onclick="OnShowModalClick">
                        <i
                            class="fa-solid fa-sliders">
                        </i> Filter
                    </button>
                </div>

                <div class="house-profile-list">

                    @if (_houseListings == null || !_houseListings.Any())
                    {
                        <p>No listings found.</p>
                    }
                    else
                    {
                        @foreach (var listing in _houseListings)
                        {
                            <div class="house-profile-item">
                                @if (listing.Profile!.Pictures != null && listing.Profile.Pictures.Any())
                                {
                                    <img
                                        src="https://localhost:7134/Filesave/@listing.Profile.Pictures[0].Split('.')[0]/@listing.Profile.Pictures[0].Split('.')[1]"
                                        alt="House Picture" class="house-profile-img"/>
                                }

                                @* <div class="title-rating"> *@
                                <h3 class="create-titles">
                                    <a href="https://localhost:7262/view-listing/@listing.Id" target="_blank"> @listing.Profile.Title</a>
                                </h3>
                                <div class="stars">
                                    @if (listing.Profile.Reviews != null && listing.Profile.Reviews.Any())
                                    {
                                        @foreach (var star in GetStars(listing.Profile.Reviews))
                                        {
                                            <span class="@star"></span>
                                        }
                                    }
                                    else
                                    {
                                        <div>
                                            <span>No reviews</span>
                                        </div>
                                    }
                                </div>

                                <p>@listing.StartDate.ToString("dd/M/yyyy") - @listing.EndDate.ToString("dd/M/yyyy")</p>
                                <p>@listing.Profile.Region, @listing.Profile.City</p>
                            </div>
                        }
                    }
                </div>
            </div>

            @if (_showModal)
            {
                <div class="modal-background">
                    <div class="modal-content">

                        <button class="close-button" @onclick="OnHideModalClick">
                            <i
                                class="fa-solid fa-xmark">
                            </i>
                        </button>

                        <h2>Filter Listings</h2>
                        <form @onsubmit="Filter">


                            <div class="form-group">
                                <label for="region">Region</label>
                                <input id="region" class="form-control" @bind="_region"
                                       placeholder="Enter Region"/>
                            </div>

                            <div class="form-group">
                                <label for="city">City</label>
                                <input id="city" class="form-control" @bind="_city"
                                       placeholder="Enter City"/>
                            </div>

                            <hr class="section-divider"/>

                            <div class="form-group date-group">
                                <label for="startDate">Start Date</label>
                                <input
                                    type="date"
                                    id="startDate"
                                    name="listing-start"
                                    placeholder="dd-mm-yyyy"
                                    class="form-control"
                                    @bind-value="@StartDate"
                                    min="@_minDateStart.ToString("yyyy-MM-dd")"
                                    max="@_maxDateStart.ToString("yyyy-MM-dd")"/>
                            </div>

                            <div class="form-group date-group">
                                <label for="endDate">End Date</label>
                                <input
                                    type="date"
                                    id="endDate"
                                    name="listing-end"
                                    placeholder="dd-mm-yyyy"
                                    class="form-control"
                                    @bind-value="@EndDate"
                                    min="@_minDateEnd.ToString("yyyy-MM-dd")"
                                    max="@_maxDateEnd.ToString("yyyy-MM-dd")"/>
                            </div>

                            <hr class="section-divider"/>

                            <h3 class="create-titles">Amenities</h3>
                            <div class="form-group checkbox">
                                @if (_amenities is not null)
                                {
                                    <div class="amenities-container">
                                        @foreach (var amenity in _amenities)
                                        {
                                            <div class="pill">
                                                <input type="checkbox" id="@amenity"
                                                       @bind="amenity.Selected"/>
                                                <label for="@amenity">@amenity.Text</label>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>

                            <h3 class="create-titles">Chores</h3>
                            <div class="form-group checkbox">
                                @if (_chores is not null)
                                {
                                    <div class="amenities-container">
                                        @foreach (var chore in _chores)
                                        {
                                            <div class="pill">
                                                <input type="checkbox" id="@chore"
                                                       @bind="chore.Selected"/>
                                                <label for="@chore">@chore.Text</label>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>

                            <hr class="section-divider"/>

                            <button class="orange-button">
                                Find
                                listings
                            </button>

                        </form>


                    </div>
                </div>
            }
        </Authorized>
    </AuthorizeView>
    <AuthorizeView>
        <NotAuthorized>
            <div class="not-authorized-container">
                <h2>You must be logged in to view this page.</h2>
                <p>Please log in.</p>
                <button class="btn btn-primary" @onclick="NavigateToLogin">
                    Log
                    In
                </button>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    [Inject] private PreloadService PreloadService { get; set; } = default!;

    private bool _showModal;
    private string _region = string.Empty;
    private string _city = string.Empty;
    private readonly DateTime _minDateStart = DateTime.Today;
    private readonly DateTime _maxDateStart = DateTime.Today.AddYears(5);
    private DateTime _minDateEnd = DateTime.Today;
    private DateTime _maxDateEnd = DateTime.Today.AddYears(5);
    private DateTime? _gottenStart;
    private DateTime? _gottenEnd;

    private MultiSelectList _amenities = default!;
    private MultiSelectList _chores = default!;

    private List<HouseListingDto>? _houseListings;

// Property for Start Date
    private DateTime? StartDate
    {
        get => _gottenStart;
        set
        {
            _gottenStart = value;
            if (value < DateTime.Today) _gottenStart = DateTime.Today;
            _minDateEnd = _gottenStart!.Value;
            if (_gottenEnd.HasValue && _gottenStart.HasValue && _gottenEnd < _gottenStart)
            {
                _gottenEnd = _gottenStart;
            }
        }
    }

    private void NavigateToLogin()

    {
        Navigation.NavigateTo("/login");
    }

// Property for End Date
    private DateTime? EndDate
    {
        get => _gottenEnd;
        set
        {
            _gottenEnd = value;
            if (value < _minDateEnd) _gottenEnd = _minDateEnd;
        }
    }

    private void OnShowModalClick()
    {
        _showModal = true;
    }

    private void OnHideModalClick()
    {
        _showModal = false;
    }

    protected override async Task OnInitializedAsync()
    {
        PreloadService.Show();
        _houseListings = new List<HouseListingDto>();
        _amenities = new MultiSelectList(HouseProfileService.GetAllAmenities());
        _chores = new MultiSelectList(HouseProfileService.GetAllChores());
        await LoadAllHouseListings();
        await InvokeAsync(StateHasChanged);
        PreloadService.Hide();
    }

    private async Task LoadAllHouseListings()
    {
        _houseListings = await Task.Run(() => HouseListingService.GetBrowseListings(null).ToList());
    }

    private async void Filter()
    {
        PreloadService.Show();
        FilteredHouseListingsDto filter = new FilteredHouseListingsDto
        {
            City = _city,
            Region = _region,
            StartDay = _gottenStart?.Day,
            StartMonth = _gottenStart?.Month,
            StartYear = _gottenStart?.Year,
            EndDay = _gottenEnd?.Day,
            EndMonth = _gottenEnd?.Month,
            EndYear = _gottenEnd?.Year,
        };

        filter.Chores = [];
        if (_chores.Any())
            foreach (var chore in _chores)
            {
                if (chore.Selected)
                {
                    filter.Chores.Add(chore.Text);
                }
            }

        filter.Amenities = [];
        foreach (var amenity in _amenities)
        {
            if (amenity.Selected)
            {
                filter.Amenities.Add(amenity.Text);
            }
        }

        _houseListings = HouseListingService.GetBrowseListings(filter).ToList();
        PreloadService.Hide();
    }

    private List<string> GetStars(List<HouseReviewDto>? reviews)
    {
        var stars = new List<string>();

        double averageRating = reviews.Select(r => r.Rating).Average();
        int fullStars = (int)Math.Floor(averageRating);
        bool hasHalfStar = (averageRating % 1 >= 0.5);
        int emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0);

        stars.AddRange(Enumerable.Repeat("fa-solid fa-star", fullStars));

        if (hasHalfStar)
        {
            stars.Add("fa-solid fa-star-half-alt");
        }

        stars.AddRange(Enumerable.Repeat("fa-regular fa-star", emptyStars));

        return stars;
    }

}