@page "/view-my-applications"
@using System.Security.Claims
@using DTOs.Application
@using DTOs.HouseListing
@using DTOs.HouseProfile
@using DTOs.HouseReview
@using HousePalClient.Components.Layout
@using HousePalClient.ServiceContracts
@using Microsoft.AspNetCore.Components
@using Services
@layout MainLayout
@inject NavigationManager Navigation
@rendermode InteractiveServer
@inject IApplicationService ApplicationService
@inject IHouseListingService ListingService
@inject IHouseReviewService HouseReviewService
@inject AuthenticationStateProvider AuthenticationStateProvider

<CascadingAuthenticationState>
    <AuthorizeView Roles="HouseSitter">
        <Authorized>
            <div class="page-container">
                <div class="signup-page-container">
                    <h1>My Applications:</h1>

                    @if (_applications == null || !_applications.Any())
                    {
                        <p>No applications found.</p>
                    }
                    else
                    {
                        <div class="applications-section">
                            @foreach (var application in _applications)
                            {
                                <div class="card">

                                    <div class="card-img-container">
                                        <img src="https://localhost:7134/Filesave/@application.Listing!.Profile!.Pictures![0].Split('.')[0]/@application.Listing!.Profile!.Pictures![0].Split('.')[1]" class="card-img" alt="...">
                                    </div>

                                    <div class="card-body">
                                        <div class="title-rating">
                                            <a href="https://localhost:7262/view-listing/@application.ListingId" target="_blank">
                                                <h5>@application.Listing.Profile.Title</h5>
                                            </a>
                                            <div class="average-stars">
                                                @if (application.Listing.Profile.Reviews != null && application.Listing.Profile.Reviews.Any())
                                                {
                                                    @foreach (var star in GetStars(application.Listing.Profile))
                                                    {
                                                        <span class="@star"></span>
                                                    }
                                                }
                                                else
                                                {
                                                    <span>No reviews available</span>
                                                }
                                            </div>
                                        </div>

                                        <p class="card-text">@application.Listing.StartDate - @application.Listing.EndDate</p>
                                        <p class="card-title" style="font-style: italic">@GetApplicationStatusText(application)</p>

                                        <div class="card @(application.Status is "Rejected" or "Canceled" ? "rejected" : (application.Status is "Approved" ? "green" : "")) application">
                                            <div class="card-body">
                                                <h5 class="card-title">@application.Message</h5>
                                                <p class="card-text">
                                                    <small>@application.Date</small>
                                                </p>
                                            </div>
                                        </div>

                                        @if (application.Status == "Approved")
                                        {
                                            <div class="card-buttons">
                                                <Button Color="ButtonColor.None" class="approve-button" @onclick="() => ConfirmApplication(application)">Confirm Stay</Button>
                                                <Button Color="ButtonColor.Danger" @onclick="async () => await CancelApplication(application)">Cancel Stay</Button>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView>
        <NotAuthorized>
            <div class="not-authorized-container">
                <h2>You must be logged in to view this page.</h2>
                <p>Please log in.</p>
                <button class="btn btn-primary" @onclick="NavigateToLogin">Log In</button>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

<style>

    @@font-face {
        font-family: 'LogoFont';
        src: url('http://localhost:[puerto]/fonts/logo-font.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @@font-face {
        font-family: 'FuturaFont';
        src: url('fonts/futura.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    h1 {
        text-align: center;
        color: #ff7e5f;
        margin-bottom: 0.2em;
        font-family: 'LogoFont', sans-serif;
    }

    .btn {
        font-size: 0.85em;
        padding: 0.375em 0.75em;
        font-family: 'FuturaFont', sans-serif;
    }

    .house-profile-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5em;
        justify-content: center;
    }

    .house-profile-item {
        width: 15em;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 0 0 1em 0;
        font-family: 'FuturaFont', sans-serif;
    }

    .house-profile-item div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 95%;
    }

    .house-profile-img {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }

    p {
        font-family: 'FuturaFont', sans-serif;
        color: #3d3d3d;
    }

    .plus {
        cursor: pointer;
    }

    .applications-section{
        padding: 0.85em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-buttons {
        display: flex;
        justify-content: center;
        gap: 1.5em;
        margin: 0.5em;
        font-size: 1.15em;
    }
    
    .approve-button {
        background-color: green;
        color: white;
    }

    .approve-button:hover {
        background-color: #007300;
        color: white;
    }

    .card {
        display: flex;
        align-items: center;
        flex-direction: row;
        border-radius: 12px;
        font-family: 'FuturaFont', sans-serif;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
        border-style: none;
        margin: 0.75em;
        overflow: hidden;
        width: 60em;
        background-color: white;
        color: #3d3d3d;
    }

    .card.application{
        width: 40em;
        margin-bottom: 0;
    }

    .card-title {
        font-size: 1rem;
        margin-bottom: 0.1em;
    }
    
    .card-body {
        margin-bottom: 0em;
    }

    .card-text{
        font-size: 1em;
        margin: 0 0 0.3em 0;
        font-family: 'FuturaFont', sans-serif;
        color: #3d3d3d;
    }

    .card a{
        color: #3d3d3d;
    }

    .card a:hover{
        color: blue;
    }

    .card.green a{
        color: white;
    }

    .card.green a:hover{
        color: blue;
    }

    .card.rejected{
        background-color: #dc3545;
        color: white;
    }

    .card.rejected .card-text{
        color: white;
    }

    .card.rejected a{
        color: white;
    }

    .card.rejected a:hover{
        color: blue;
    }

    .card.green{
        background-color: green;
        color: white;
    }

    .card.green .card-text{
        color: white;
    }

    .card-img-container{
        flex: 0 0 200px;
        height: 200px;
        margin: 1em;
        border-radius: 8px;
        overflow: hidden;
    }

    .card-img-container img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-body {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    
    .card-body {
        margin-bottom: 0em;
    }

    .title-rating {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        gap: 1em;
        margin-bottom: 0.5em;

    }

    .title-rating h5 {
        margin-bottom: 0;
    }

    .not-authorized-container {
        text-align: center;
        margin-top: 5em;
        padding: 2em;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .not-authorized-container h2 {
        color: #ff7e5f;
        font-family: 'LogoFont', sans-serif;
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    .not-authorized-container p {
        font-family: 'FuturaFont', sans-serif;
        color: #333;
        font-size: 1.2em;
        margin-bottom: 1.5em;
    }

    .not-authorized-container .btn {
        font-size: 1em;
        padding: 0.75em 1.5em;
        font-family: 'FuturaFont', sans-serif;
        background-color: #ff7e5f;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

    }

    .not-authorized-container .btn:hover {
        background-color: #feb47b;
    }
</style>

@code {
    [Inject] private PreloadService PreloadService { get; set; } = default!;
    private List<ApplicationDto>? _applications;
    private int _userId;

    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/login");
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider
            .GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is null || !user.Identity.IsAuthenticated)
        {
            Console.WriteLine("Not authenticated");
            return;
        }

        IEnumerable<Claim> claims = user.Claims;
        string userIdAsString = claims.Single(c => c.Type == "Id").Value;
        _userId = int.Parse(userIdAsString);

        await LoadAllApplications();
        await InvokeAsync(StateHasChanged);
    }

    private List<string> GetStars(HouseProfileDto profile)
    {
        double averageRating = profile.Reviews.Average(r => r.Rating);

        int fullStars = (int)Math.Floor(averageRating);
        bool hasHalfStar = (averageRating % 1 >= 0.5);
        int emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0);

        var stars = new List<string>();
        stars.AddRange(Enumerable.Repeat("fa-solid fa-star", fullStars));
        if (hasHalfStar)
        {
            stars.Add("fa-solid fa-star-half-alt");
        }

        stars.AddRange(Enumerable.Repeat("fa-regular fa-star", emptyStars));

        return stars;
    }

    private async Task LoadAllApplications()
    {
        PreloadService.Show();
        _applications = await Task.Run(() => ApplicationService.GetMyApplicationsSitter(_userId).ToList());
        PreloadService.Hide();
    }

    private async Task ConfirmApplication(ApplicationDto application)
    {
        UpdateApplicationDto updatedApplication = new UpdateApplicationDto
        {
            ListingId = application.ListingId,
            SitterId = application.SitterId,
            Status = "Confirmed"
        };

        UpdateHouseListingDto updatedListing = new UpdateHouseListingDto
        {
            Id = application.ListingId,
            Status = "Closed"
        };

        await ApplicationService.UpdateAsync(updatedApplication);
        await ListingService.UpdateAsync(updatedListing);
        await LoadAllApplications();
        await InvokeAsync(StateHasChanged);
    }

    private async Task CancelApplication(ApplicationDto application)
    {
        UpdateApplicationDto updatedApplication = new UpdateApplicationDto
        {
            ListingId = application.ListingId,
            SitterId = application.SitterId,
            Status = "Canceled"
        };

        var response = await ApplicationService.UpdateAsync(updatedApplication);
        response.Listing = application.Listing;
        await Task.Run(() => _applications.Remove(application));
        await Task.Run(() => _applications.Add(response));
        await InvokeAsync(StateHasChanged);
    }

    private string GetApplicationStatusText(ApplicationDto application)
    {
        return application.Status switch
        {
            "Pending" => "The owner of this listing is reviewing your application:",
            "Approved" => "Your application for this listing was approved: ",
            "Rejected" => "Your application for this listing has been rejected: ",
            "Canceled" => "You have canceled this stay. ",
            _ => string.Empty
        };
    }

}